# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# IDE
.vscode/
.idea/

# Python cache
.pytest_cache/

# Generated Digital Twin state
data/twin_state/

# NASA raw dataset
data/raw/*.txt

# Local environment files
.env

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml